.main{
  display: flex;
  padding: 1rem;
  margin: 3rem;
  flex-direction: column;
  justify-content: space-evenly;
  
  overflow: hidden;
}
.main h3{
  text-align: center;
}
.header{
  border: 1px solid #ccc;
  width : 100%;
  margin: auto;
  padding: auto;
  box-shadow: 5px 5px gray;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: white;
}

.user-inputs{
  display: flex;
  flex-direction: column;
  height: 15rem;
  padding: 1rem;
  width: 90%;
  margin:auto
}
.user-inputs input,button{
  margin-top:1rem;
}

.todo-list{

  display: flex;
  flex-direction: column;
  height: 18rem;
  padding: 1rem;
  overflow-y: auto;
  width: 90%;
  margin:auto

}

.list{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  width:30rem;
}

.list span {
  margin-left: 1rem;

}
.list-side{
  display: flex;
  justify-content: space-evenly;
  width:8rem;
  margin-bottom: 1rem;
}

.todo-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  margin-top: 1rem;
  background-color: #5d5d5d;
  color: white;
  border-radius: 10px;
}

.task{
  width : 16rem;
  overflow:hidden;
}
.deadline{
  width : 12rem
}
.checked{
  background-color: rgba(15, 233, 11, 0.44);
  color: black;
}

.btn-success{
  width: 10rem;
  margin:auto;
}
.select{
  width: 20%;
  margin-left:auto;
  margin-right:10rem;
  color: white;
  background-color: rgb(107, 105, 105);
}