.centred{
    text-align: center;
    margin-top: 20px;
    
}

.border{
    border: thin solid #000 !important;
    background: currentColor ;
}

.input-border{
    border: thin solid #000 !important;
    border-radius: 10px;
    padding: 20px;
    margin : auto 200px auto 200px;
    background: #09090933;
    box-shadow: 5px 5px rgb(0, 0, 0);
}

.input-border-list{
    border: thin solid #000 !important;
    border-radius: 10px;
    padding: 20px;
    margin : 50px 200px auto 200px;
    background: rgb(63, 57, 57);
    box-shadow: 5px 5px rgb(0, 0, 0);
}

.display-4{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: white;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;

}

.font-italic{
    font-style: italic !important;
}

body {
    background-color: #8f4df8
}

.main-todo-input {
    background: #fff;
    padding: 0 120px 0 0;
    border-radius: 1px;
    margin-top: 50px;
    box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3)
}

.fl-wrap {
    float: left;
    width: 100%;
    position: relative
}

.main-todo-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255, 255, 255, 0.41);
    left: 50%;
    margin-left: -25px
}

.main-todo-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative
}

.main-todo-input-item input:first-child {
    border-radius: 100%
}

.main-todo-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px
}

.main-search-button {
    background: #4DB7FE
}
.edit {
    background: rgb(209, 212, 29)
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer
}

.main-search-button-delete {
    position: absolute;
    right: 120px;
    height: 50px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    background: rgb(253, 46, 46)
}

.main-todo-input-wrap {
    max-width: 500px;
    margin: 10px auto;
    position: relative
}

:focus {
    outline: 0
}

@media only screen and (max-width: 768px) {
    .main-todo-input {
        background: rgba(255, 255, 255, 0.2);
        padding: 14px 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0)
    }

    .main-todo-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px
    }

    .main-todo-input-item input {
        border-radius: 6px !important;
        background: #fff
    }

    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 6px
    }
}

.remove {
    float: right;
    color: #757575 !important;
    font-size: 14px
}

#list-items {
    padding-left: 20px;
    padding-top: 15px
}

ul {
    padding: 0;
    text-align: left;
    list-style: none
}

.todo-text {
    color: #757575;
    margin-left: 10px
}

.strike {
    color: blue
}

.todo-listing {
    padding: 0px 29px 0 0;
    margin-top: 24px !important
}